:root {
  --blue: #07a2d4;
  --red: #93121b;
  --yellow: #da8401;
}

@font-face {
  font-family: 'mibd';
  src: url('../assets/fonts/mibd.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

* {
  box-sizing: border-box;
}

body {
  font-family: 'mibd', sans-serif;
  text-transform: uppercase;
}

h1,
h3,
h4 {
  text-transform: uppercase;
  color: white;
}

.container {
  max-width: 70vh;
  margin: 0 auto;
  margin-top: 10vh;
}

.banner-wrapper {
  width: 300px;
  height: 250px;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  padding: 10px;
}

.banner-wrapper>div {
  position: absolute;
}

.frame {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 10px;
}

.blue {
  background-color: var(--blue);
}

.yellow {
  background-color: var(--yellow);
}

.red {
  background-color: var(--red);
}

.flex {
  display: flex;
}

.bottom {
  justify-content: space-between;
  bottom: 0;
  width: 100%;
  left: 0;
  padding: 10px;
  z-index: 9;
}

.frame>div,
.bottom>div {
  position: relative;
}

.cta svg {
  width: 10px;
  fill: white;
}

.cta {
  align-items: center;
  max-width: 140px;
  padding: 10px;
  background-color: black;
}

.cta p {
  padding-left: 5px;
  color: white;
  font-size: 14px;
}

.bottom .logo {
  max-width: 60px;
}

.logo img {
  width: 100%;
}

.heading {
  padding: 5px;
  color: white;
}

.heading h1 {
  font-size: 28px;
}

.heading h3 {
  font-size: 20px;
}

.car {
  width: 100%;
  top: 50px;
  left: -2px;
  z-index: 9;
}

.car img {
  width: 100%;
}

.frame.logo {
  /* z-index: 10; */
  background: black;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 8px solid var(--blue);
}

.final {
  /* z-index: 1; */
  background: black;
  display: flex;
  border: 8px solid var(--blue);
}

.color-switcher {
  width: 100%;
}

.color-switcher .colors {
  padding-left: 10px;
  justify-content: space-around;
  min-width: 85px;
}

.color-switcher .colors>div {
  width: 20px;
  height: 20px;
}

.color-switcher .colors>div.active {
  border: 1px solid white;
}